.footer {
  padding: 40px 0;
}

.footer__links {
  display: flex;
  align-items: self-end;
  justify-content: end;
  gap: 24px;
}

@media (max-width: 425px) {
  .footer {
    padding: 24px 0;
  }

  .footer__links {
    justify-content: start;
  }
}
